.w-layout-grid {
  display: -ms-grid;
  display: grid;
  grid-auto-columns: 1fr;
  -ms-grid-columns: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  -ms-grid-rows: auto auto;
  grid-template-rows: auto auto;
  grid-row-gap: 16px;
  grid-column-gap: 16px;
}

.background {
  position: relative;
  width: 100%;
  height: 100%;
  padding: 80px 30px 836px;
  background-color: #fff;
  background-image: url('../images/BG_login.png');
  background-position: 50% 50%;
  background-size: cover;
  background-repeat: repeat;
  background-attachment: fixed;
}

.logo {
  position: relative;
}

.codegorilla_logo {
  margin-top: -45px;
  margin-bottom: 45px;
}

.login_wrapper {
  position: relative;
  margin-top: auto;
  margin-bottom: auto;
}

.login-blok-plaatje {
  margin-top: 198px;
  margin-right: 140px;
  margin-left: 140px;
  padding-right: 0px;
  padding-bottom: 17px;
  background-image: url('../images/balkje_login.png');
  background-position: 0px 0px;
  background-size: auto;
  box-shadow: 2px 2px 7px 0 #38855f;
}

.form_wrapper_login {
  position: relative;
  margin-bottom: 32px;
  -webkit-align-self: auto;
  -ms-flex-item-align: auto;
  -ms-grid-row-align: auto;
  align-self: auto;
}

.field-label {
  margin-top: 24px;
  margin-bottom: 64px;
  margin-left: 301px;
  font-family: Montserrat, sans-serif;
  color: #138834;
}

.field-label.password {
  margin-top: -6px;
  margin-bottom: -32px;
  margin-left: 300px;
  padding-top: 0px;
}

.field-label.username {
  margin-top: 29px;
  margin-left: 300px;
}

.textfield {
  position: -webkit-sticky;
  position: sticky;
  margin-top: auto;
  margin-bottom: auto;
  margin-left: auto;
  -o-object-fit: none;
  object-fit: none;
}

.textfield.username {
  width: 300px;
  margin-top: -70px;
  margin-bottom: 130px;
  margin-left: 300px;
  padding-right: 12px;
  padding-left: 12px;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
}

.textfield.password {
  width: 300px;
  margin-top: -89px;
  margin-bottom: 10px;
  margin-left: 300px;
  padding-left: 12px;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
}

.button.login {
  position: relative;
  margin: 6px auto 0px 300px;
  padding-right: 130px;
  padding-left: 130px;
  border-radius: 8px;
  background-color: #138834;
  background-image: linear-gradient(273deg, #30a053, #25c71a);
  box-shadow: 1px 1px 3px 0 #000;
}

.button.register {
  margin-top: 19px;
  margin-right: auto;
  margin-left: 300px;
  padding-right: 9px;
  padding-left: 9px;
  border-radius: 8px;
  background-color: #cfcfcf;
  background-image: linear-gradient(81deg, #bebebe, #dadada);
  box-shadow: 1px 1px 3px 0 #000;
}

.div-block {
  max-width: 100%;
}

.div-block.dagen {
  padding-left: 81px;
}

.form-block {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

.utility-page-wrap {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100vw;
  height: 100vh;
  max-height: 100%;
  max-width: 100%;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.utility-page-content {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 260px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  text-align: center;
}

.utility-page-form {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: stretch;
  -webkit-align-items: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
}

.brand {
  position: relative;
  left: -143px;
  right: 0px;
  bottom: -22px;
  padding-right: 0px;
}

.image {
  font-size: 0px;
}

.navbar {
  padding-bottom: 23px;
  background-color: #fff;
  outline-color: #4ec55a;
  outline-offset: 0px;
  outline-style: solid;
  outline-width: 4px;
}

.body {
  outline-color: #92d69b;
  outline-offset: 0px;
  outline-style: none;
  outline-width: 0px;
}

.icon {
  position: relative;
  left: -1226px;
  overflow: visible;
  background-color: rgba(255, 255, 255, 0);
}

.grid-2 {
  height: 100%;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  grid-template-areas: ". Area-2 Area";
  -ms-grid-columns: 0.5fr 0px 1fr 0px 1fr 0px 1fr 0px 1fr 0px 1fr 0px 1fr 0px 1fr;
  grid-template-columns: 0.5fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  -ms-grid-rows: 100%;
  grid-template-rows: 100%;
}

.calendar_fill_section {
  width: 85vw;
  height: 100vh;
}

.section-2 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100vw;
}

.div-block-2 {
  width: 15vw;
  margin-bottom: -82px;
  background-color: #b9f3cb;
}

.grid-3 {
  grid-auto-flow: column;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  -ms-grid-columns: 1fr;
  grid-template-columns: 1fr;
  -ms-grid-rows: auto auto auto auto auto auto auto auto auto;
  grid-template-rows: auto auto auto auto auto auto auto auto auto;
  background-color: rgba(255, 255, 255, 0);
}

.grid-4 {
  grid-auto-flow: row;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  -ms-grid-columns: 1fr;
  grid-template-columns: 1fr;
}

.grid-4.tue {
  -ms-grid-rows: auto auto auto auto auto auto auto auto auto;
  grid-template-rows: auto auto auto auto auto auto auto auto auto;
}

.grid-6 {
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  -ms-grid-columns: 1fr;
  grid-template-columns: 1fr;
  -ms-grid-rows: auto auto auto auto auto auto auto auto auto;
  grid-template-rows: auto auto auto auto auto auto auto auto auto;
}

.grid-7 {
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  -ms-grid-columns: 1fr;
  grid-template-columns: 1fr;
  -ms-grid-rows: auto auto auto auto auto auto auto auto auto;
  grid-template-rows: auto auto auto auto auto auto auto auto auto;
}

.grid-8 {
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  -ms-grid-columns: 1fr;
  grid-template-columns: 1fr;
  -ms-grid-rows: auto auto auto auto auto auto auto auto auto;
  grid-template-rows: auto auto auto auto auto auto auto auto auto;
}

.grid-9 {
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  -ms-grid-columns: 1fr;
  grid-template-columns: 1fr;
  -ms-grid-rows: auto auto auto auto auto auto auto auto auto;
  grid-template-rows: auto auto auto auto auto auto auto auto auto;
}

.grid-10 {
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  -ms-grid-columns: 1fr;
  grid-template-columns: 1fr;
  -ms-grid-rows: auto auto auto auto auto auto auto auto auto;
  grid-template-rows: auto auto auto auto auto auto auto auto auto;
}

.grid-11 {
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  -ms-grid-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  -ms-grid-rows: auto;
  grid-template-rows: auto;
}

.text-block-2 {
  font-size: 0px;
}

.black_big {
  position: fixed;
  z-index: 3;
  width: 100vw;
  height: 100vh;
  border: 1px solid transparent;
  background-color: rgba(0, 0, 0, 0.49);
}

.popup_box {
  position: absolute;
  left: 0%;
  top: 0%;
  right: 0%;
  bottom: 0%;
  width: 660px;
  height: 100%;
  margin: auto;
  padding-right: 122px;
  padding-left: 122px;
  background-color: #fff;
  background-image: url('../images/registration_bg.png'), linear-gradient(2deg, #45a56d, #fff 49%);
  background-position: 0px 0px, 0px 0px;
  background-size: cover, auto;
}

.registrate_text {
  margin-top: 97px;
  color: #a7a7a7;
  font-size: 29px;
  font-weight: 400;
  text-align: center;
}

.codegorilla-logo {
  position: relative;
  left: 73px;
  top: auto;
  right: auto;
  bottom: -116px;
  text-align: left;
}

.submit_button {
  position: relative;
  left: auto;
  right: -14px;
  margin-top: 26px;
  margin-right: auto;
  margin-left: auto;
  padding: 16px 140px;
  border-radius: 20px;
  background-image: linear-gradient(96deg, #087e0c, #4daa3f);
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
  font-size: 22px;
  text-align: center;
}

.company_dropdown {
  margin-top: 21px;
}

.exit_button {
  position: relative;
  left: -340px;
  background-color: #3da033;
}

.credential_field {
  font-family: Montserrat, sans-serif;
}

.register_button {
  position: relative;
  left: 300px;
  bottom: 36px;
  border-radius: 8px;
  background-image: linear-gradient(89deg, #d8d8d8, #c9c9c9);
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
}

@media screen and (max-width: 991px) {
  .field-label.password {
    margin-left: 84px;
  }

  .field-label.username {
    margin-left: 84px;
  }

  .textfield.username {
    margin-left: 84px;
  }

  .textfield.password {
    margin-left: 84px;
  }

  .button.login {
    margin-left: 84px;
  }

  .button.register {
    margin-left: 84px;
  }

  .register_button {
    left: 80px;
  }
}

@media screen and (max-width: 767px) {
  .login-blok-plaatje {
    max-height: 350px;
    min-height: 0px;
    margin-right: -1px;
    margin-left: 21px;
    padding-right: 0px;
  }

  .form_wrapper_login {
    max-width: 500px;
    min-width: 0px;
    padding-right: 0px;
    padding-bottom: 61px;
  }

  .field-label.password {
    margin-left: 30px;
  }

  .field-label.username {
    margin-left: 30px;
  }

  .textfield.username {
    margin-left: 30px;
  }

  .textfield.password {
    margin-left: 30px;
  }

  .button.login {
    margin-left: 30px;
  }

  .button.register {
    position: relative;
    left: -290px;
    top: 50px;
    margin-top: auto;
    margin-bottom: auto;
    margin-left: auto;
  }
}

@media screen and (max-width: 479px) {
  .login-blok-plaatje {
    margin-right: 2px;
    margin-left: 3px;
  }
}

#w-node-_7b50edf4-f57a-3d0a-b656-444ea04c246f-c87a81ff {
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
}

#w-node-cc3c608e-b478-5947-5b2e-bb7fec0481f0-c87a81ff {
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
}

#w-node-ba3a7760-a065-9ec3-859f-d752774b2de3-c87a81ff {
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
}

#w-node-_3e4afecf-cbd9-c53e-61be-f7fe1ed7084a-c87a81ff {
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
}

#w-node-fe116375-a3b1-dd93-25d2-ab71dd0a6b2b-c87a81ff {
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
}

#w-node-_38cca1d9-86d2-375e-c1ae-d5049ade23e1-c87a81ff {
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
}

#w-node-_05bfa460-8637-3ab5-ba15-0a653ce4e0b2-c87a81ff {
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
}

#w-node-_78bf9585-334d-44f6-4060-29da23f74d29-c87a81ff {
  -ms-grid-column: 2;
  grid-column-start: 2;
  -ms-grid-column-span: 1;
  grid-column-end: 3;
  -ms-grid-row: 1;
  grid-row-start: 1;
  -ms-grid-row-span: 1;
  grid-row-end: 2;
}

#w-node-_9022fc66-f774-0db4-11dd-e892094a74cb-c87a81ff {
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
}

#w-node-b3f31c85-ac1d-21fb-9f0c-1586bb7e002f-c87a81ff {
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
}

#w-node-_325351b3-247b-977d-100c-0399ba2f5af2-c87a81ff {
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
}

#w-node-a368f46c-9f16-7309-5a18-f6a0401ba582-c87a81ff {
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
}

#w-node-_38e8945c-4867-7b7f-8cb9-c152b41d4c93-c87a81ff {
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
}

#w-node-bf27b7c5-9986-708b-f35b-c5e7aadc8994-c87a81ff {
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
}

#w-node-d8290a5a-00e2-300f-98ae-93d4940e51f5-c87a81ff {
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
}

#w-node-ba9cc399-4880-ed45-451c-ca9c1c086d0b-c87a81ff {
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
}

#w-node-acbffd28-4123-0962-f1c3-cdaec955c7e1-c87a81ff {
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
}

#w-node-_765d4df6-d6a2-6a18-5135-a84831f95181-c87a81ff {
  -ms-grid-row: 1;
  -ms-grid-column: 5;
  grid-area: Area;
}

#w-node-_5c0e2eca-989d-f9bd-0323-30526f71b315-c87a81ff {
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
}

#w-node-_5b15ce97-195a-1ad8-8aed-5ef83abe8a7d-c87a81ff {
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
}

#w-node-e33527b2-7233-c7ab-ca7b-bfd1941f36a9-c87a81ff {
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
}

#w-node-ece71e63-185f-a559-dde4-1bf957e89393-c87a81ff {
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
}

#w-node-_37982b1c-f9b1-3771-69e4-1f84a77257ba-c87a81ff {
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
}

#w-node-c6e963df-64ed-500a-ca36-709cd682a62f-c87a81ff {
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
}

#w-node-e8adfcd4-2f64-79fd-7f5a-2ab1544c3826-c87a81ff {
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
}

#w-node-_6cd50e91-8ad7-ed24-93d7-ad448293ace9-c87a81ff {
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
}

#w-node-_5d5d63a9-96ae-0027-baf2-51bdc17b0d3d-c87a81ff {
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
}

#w-node-_749d8b91-4f48-2251-5652-792c8f4a5439-c87a81ff {
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
}

#w-node-_59392571-6344-9f1d-e214-c1a9027ed283-c87a81ff {
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
}

#w-node-_1863e33a-778f-2ce4-dc4b-40c770e61ff2-c87a81ff {
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
}

#w-node-c0dbae74-888f-508b-769f-52eeeb13f086-c87a81ff {
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
}

#w-node-_62178fab-0c0a-5a41-ee00-2527f6450c90-c87a81ff {
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
}

#w-node-_0b322ecb-0eaa-d12e-8985-4461b547223e-c87a81ff {
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
}

#w-node-_947021f0-a4eb-07f0-aedb-d2e9cbb7b280-c87a81ff {
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
}

#w-node-_9e2fd803-fadf-875d-d8d2-79b28dc017ce-c87a81ff {
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
}

#w-node-b61e4890-6d8b-cc0b-a12d-b3e6c333fd15-c87a81ff {
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
}

#w-node-af0d94e3-b639-4a3a-e3f6-319086eae9da-c87a81ff {
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
}

#w-node-d1bc92b7-ced0-6f7d-fc14-2c4afa59f2fd-c87a81ff {
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
}

#w-node-_0553a119-3263-6125-0852-6b7dd26cc997-c87a81ff {
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
}

#w-node-_8ea8fe13-f867-2792-a508-e3177147ffd0-c87a81ff {
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
}

#w-node-b7367ffd-6a5b-8641-48ff-83e4ba037e3d-c87a81ff {
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
}

#w-node-_48b3ed2a-8263-5430-a88d-8f4869287e84-c87a81ff {
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
}

#w-node-_28141b5d-d679-e07d-49c5-3bd6d71a08c3-c87a81ff {
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
}

#w-node-_43879922-910f-b03b-34ae-5d320a75afff-c87a81ff {
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
}

#w-node-_8076f183-fd22-9a99-0822-de4240a110f3-c87a81ff {
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
}

#w-node-c2d61eba-d7db-1c53-878f-7ca19b80d7d2-c87a81ff {
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
}

#w-node-_79ce2b57-384f-7ce2-dee8-7c9f966965c9-c87a81ff {
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
}

#w-node-f875ce94-e603-a5ac-0b58-2e37a53a2a62-c87a81ff {
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
}

#w-node-efcdd1d4-af69-0850-fe68-ea99c944d6fe-c87a81ff {
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
}

#w-node-_1c2d951e-c0ed-e91c-e707-b84e5382508a-c87a81ff {
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
}

#w-node-_78876ca7-261c-be33-19e0-bafad91147a1-c87a81ff {
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
}

#w-node-_09860da9-a200-dba2-3366-14d7d3f04b6d-c87a81ff {
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
}

#w-node-a527a7e0-4654-0642-4b87-5b4aed643fe2-c87a81ff {
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
}

#w-node-_4fcc5ee2-1f62-7626-1138-d85b0b41df09-c87a81ff {
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
}

#w-node-_6f5454a9-fa0e-8450-b360-5ec8dbecb457-c87a81ff {
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
}

#w-node-_907d76c5-d54c-2568-7ab6-58113df27dae-c87a81ff {
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
}

#w-node-_01aead96-1652-672d-be72-269b15bc4b19-c87a81ff {
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
}

#w-node-_70ea25e0-9d9c-b6a8-90cd-e07acd2507de-c87a81ff {
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
}

#w-node-dcdc1431-3cf3-5176-efd5-283a165c3085-c87a81ff {
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
}

#w-node-cae50fbc-921b-539c-8390-0c6166d4e79a-c87a81ff {
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
}

#w-node-fdce7285-0d26-5300-f5d7-601dd6d26cb0-c87a81ff {
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
}

#w-node-a5bd6adb-5143-5d52-c386-8063e0bc9e98-c87a81ff {
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
}

#w-node-cf5f798b-d3c4-02ff-f6d5-7acbca17cd14-c87a81ff {
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
}

#w-node-fb011433-1acd-662e-7e4e-25902b23336c-c87a81ff {
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
}

#w-node-_9d8b3ecc-66db-8014-9a75-28aa80450563-c87a81ff {
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
}

#w-node-_77149dd0-3068-2edb-2cf2-329cdaad2401-c87a81ff {
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
}

#w-node-f6bb6e01-8831-d704-00ef-e7cf9ea97d15-c87a81ff {
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
}

#w-node-_652d0234-e79c-fd8a-f719-8633a8de6773-c87a81ff {
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
}

#w-node-c66d3fa4-8590-be63-3a82-9ebef0953b61-c87a81ff {
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
}

#w-node-fdd50541-3cf8-0bd6-77d4-359c0bdbcd1b-c87a81ff {
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
}

#w-node-b22491f0-dea3-2313-6a57-013c15a7386e-c87a81ff {
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
}

#w-node-_402d9e5a-1b25-c736-5f88-691923867ae1-c87a81ff {
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
}

#w-node-_82d5a5a6-726d-8df8-3cbc-d72ca07fb073-c87a81ff {
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
}

#w-node-_0d99f7e0-db37-4cf1-04c7-6b0a43cb4b12-c87a81ff {
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
}

#w-node-a8652de6-205d-0190-262c-40f6fa563730-c87a81ff {
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
}

#w-node-a240eb52-ff36-c2a9-224a-87865b0896f7-c87a81ff {
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
}

#w-node-_257088b0-a915-48d5-096e-76f57775298a-c87a81ff {
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
}

#w-node-dffebc12-7702-8274-a557-8ab8aedca85d-c87a81ff {
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
}